//chat-field

@import "../../app.component.scss";

.message-field-container {
  border: 1px solid #adb0d9;
  border-radius: 20px;
  padding: 20px;
  width: 100%;
  background: white;
  box-sizing: border-box;
}

.message-div {
  display: flex;
  padding: 10px 45px;
  margin: 37px 0;
  width: 100%;
  gap: 8px;
  cursor: pointer;

  &:hover {
    background-color: #eceefe;

    .question-channel {
      background-color: white;
    }
  }
}

.div {
  margin-left: 30px;
  width: 100%;
  gap: 8px;
}

.max-width {
  width: 100%;
}

.position-name-time {
  display: flex;
  align-items: center;
  padding: 0;
  gap: 20px;

  h3 {
    margin: 0;
    font-family: Nunito;
    font-size: 18px;
    font-weight: 700;
    line-height: 24.55px;
    cursor: pointer;

    &:hover {
      color: #535af1;
      cursor: pointer;
    }
  }
}

.input-container {
  textarea {
    height: 80px;
    border: none;
    outline: none;
    width: 100%;
    font-family: Nunito;
    font-weight: 400;
    font-size: 18px;
    resize: none;

    &::placeholder {
      display: flex;
      font-family: Nunito;
      font-weight: 400;
      font-size: 18px;
    }
  }
}

.container-question-message:hover .hidden-content-message {
  display: block;
}

.container-question-message {
  position: relative;
  min-height: 141px;
  width: 100%;
  border-top: solid 1px #adb0d9;
  display: flex;
  justify-content: space-between;

  &:hover {
    cursor: pointer;

    .question-channel {
      background-color: white;
    }

    .reaction-area {
      display: flex !important;
    }
  }

  span {
    color: #686868;
  }
}

.reaction-area {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 8px;
  top: 14px;
  border-radius: 25px 25px 0 25px;
  border: 1px solid rgb(173, 176, 217);
  gap: 5px;
  padding: 3px 15px 3px 20px;
  height: 35px;
  background: white;
  cursor: pointer;

  .reaction-icons {
    height: 24px;
    width: 24px;
    padding: 8px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    &:hover {
      cursor: pointer;
      background: #eceefe;
    }
  }
}

.emoji-frame {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 56px;
  height: 28px;

  border-radius: 20px;
  border: 1px solid #adb0d9;

  &:hover {
    border: 1px solid #797ef3;
  }
}

.emojis {
  display: flex;
  gap: 10px;
  font-size: 16px;
}

.question-channel {
  background-color: #eceefe;
  padding: 15px;
  border-radius: 0px 30px 30px 30px;
  color: black;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-wrap: wrap;
  width: fit-content;

  &:hover {
    background-color: white;
  }
}

.hidden-content-message {
  display: none;
  margin-right: 30px;
  border: solid 1px color #adb0d9;
  background-color: white;
  height: 46px;
}

.button-container {
  @include dFlex($jc: space-between, $ai: center);
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.first-icon-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.vector {
  border: 1px solid #adb0d9;
  width: 0px;
  height: 40px;
}

.icon {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #686868;

  &:hover {
    cursor: pointer;
    border-radius: 42px;
    color: #444df2;
    background-color: #eceefe;
    transform: scale(1.1);
  }
}

.icon-send {
  color: #444df2;

  &:hover {
    cursor: pointer;
    color: #8b92da;
  }
}

//header

.chat-navbar {
  display: flex;
  justify-content: space-between;
  padding: 25px 45px 25px 45px;
  height: 32px;
  box-shadow: 0px 4px 4px rgba(158, 157, 157, 0.1);
  background-color: white;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-bottom: -50px;
  position: relative;

  h2 {
    font-size: 24px;
  }

  .user-add {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 192px;
  }

  img {
    height: 40px;
    width: 40px;
  }

  span {
    font-size: 20px;
    padding-right: 20px;
    padding-left: 20px;
  }
}

.center-objects {
  display: flex;
  align-items: center;
}

.chat-container {
  background-color: white;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

#chat-container {
  flex: 1;
}

.answers {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  margin-top: 8px;
  align-items: center;

  h3 {
    font-size: 18px;
    color: rgba(83, 90, 241, 1);
    line-height: 24.5px;
    margin: 0;

    &:hover {
      font-weight: 700;
    }
  }

  span {
    font-size: 14px;
    line-height: 19px;
    color: rgba(104, 104, 104, 1);
  }
}

.chat-container-inside {
  padding-top: 100px;
  height: calc(100vh - 380px);
  overflow-y: auto;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 0px;
  }
}

.chat-tastatur {
  position: relative;
  background-color: white;
  width: 100%;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.editDiv {
  width: 100%;
  background: white;
  min-height: 50px;
  border-radius: 30px;
  border: 1px solid #adb0d9;
  padding: 20px;


  textarea {
    outline: none;
    background: none;
    border: none;
    font-family: "Nunito";
    font-size: 24px;
    color: #686868;
    resize: none;
    width: 100%;
    min-height: 50px;
    height: fit-content;
  }

  .button-edit-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
    cursor: default;
  }
}

.container-all-chat-content {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 779px;
}

.chat-navbar {
  box-shadow: 0px 4px 4px rgba(158, 157, 157, 0.1);
  padding: 32px 45px 20px 45px;
  margin-bottom: 10px;
  display: flex;

  img {
    height: 50px;
    width: 50px;
  }

  span {
    font-size: 24px;
    font-weight: 700;
    margin-left: 15px;
  }
}

.message-contacts-profile {
  margin-bottom: 30px;

  img {
    width: 100px;
    height: 100px;
    margin-right: 25px;
    margin-bottom: -6px;

    &:hover {
      cursor: pointer;
    }
  }

  span {
    font-size: 24px;
    font-weight: 700;

    &:hover {
      cursor: pointer;
      color: rgba(83, 90, 241, 1);
    }
  }
}

.contact-profile {
  align-self: flex-end;
  margin-left: 45px;
}

.message-contact-profile-text {
  font-size: 20px;
  color: rgba(104, 104, 104, 1);

  a {
    color: rgba(83, 90, 241, 1);
    text-decoration: none;

    &:hover {
      font-weight: 700;
      cursor: pointer;
    }
  }
}

.message-contacts {
  display: flex;
  align-items: center;
  padding: 4px 8px;
  border-radius: 30px;

  img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 30px;
  }

  &:hover {
    background-color: rgb(236, 238, 254);
    cursor: pointer;
  }
}

.position-message-contacts {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.take-rest-of-the-div {
  flex: 1;
}

.add-user-button {
  height: 40px;
  width: 40px;
}

.center-objects {
  display: flex;
  align-items: center;
}

.hover-container {
  display: none;
}

.hover-container-visible {
  display: block;
}

.chatImage {
  max-width: 420px !important;
  img {
    max-width: 400px !important;
    max-height: 260px !important;
  }
}

.date-line {
  position: absolute;
  top: -24px;
  left: 50%;
  transform: translateX(-50%);
  width: 189px;
  height: 35px;
  padding: 5px 15px 5px 15px;
  border-radius: 30px;
  border: 1px solid #adb0d9;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  span {
    font-family: Nunito;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.55px;
    text-align: left;
  }
}

.message-img {
  border-radius: 360px;
  min-width: 50px;
  min-height: 50px;
  height: 70px;
  width: 70px;
}

.rowRewerse {
  flex-direction: row-reverse;
}

.mirrorUser {
  flex-direction: row-reverse;
  gap: 30px;
}
.mirrorUser-div {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.mirrorBubble {
  border-radius: 30px 0px 30px 30px !important;
  background-color: #797ef3 !important;
}

.font-white {
  color: white !important;
}

.bg-blue {
  background-color: #797ef3;
}

.mirrorReact {
  left: 32px;
  right: unset;
}

app-privat-message-field{
  background-color: white;
}
@media (max-width: 550px) {
  @import "../../main-board/channel-chat-window/channel-chat-window.component.scss";
  .chat-container {
    border-radius: 0;
  }
  .chat-container-inside {
    padding-top: 0;
  }

  .position-message-contacts {
    margin: 0;
  }

  .message-div {
    padding: 10px 18px;
  }

  .chat-navbar {
    box-sizing: border-box;
    height: 60px;
    padding: 10px 16px;

    img {
      height: 50px;
      width: 50px;
    }

    span {
      font-size: 20px;
    }
  }

  .container-question-message {
    img {
      height: 50px;
      width: 50px;
    }

    .chatImage {
      max-width: 160px !important;
      img {
        max-width: 140px !important;
        max-height: 260px !important;
      }
    }
  }

  

  .contact-profile {
    margin-left: 16px;
  }

  .message-contacts-profile img {
    width: 88px;
    height: 88px;
    margin-right: 10px;
  }

  .message-contact-profile-text {
    font-size: 16px;
  }

  .center-objects {
    display: none;
  }

  .position-name-time {
    margin: 0;
  }

.chat-tastatur[_ngcontent-ng-c2073150875] {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  bottom: 18px;
}



}
@media (max-height: 800px) {
  .chat-container {
    height: unset;
    min-height: calc(100vh - 440px);
  }
}
