<div class="login-container">
  <app-header></app-header>
  <mat-card>
    <button routerLink="/create-account" class="arrow-back-btn">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <mat-card-header>
      <h2>Wähle deinen Avatar</h2>
    </mat-card-header>
    <mat-card-content>
      <div class="container">
        <div class="avatar-container">
          <img
            class="profile-img"
            [src]="imageUrl || defaultImageUrl"
            alt=""
            id="profile-img"
            *ngIf="!imageUrl"
            #profileImg
          />
          <img
            class="profile-img"
            [src]="imageUrl"
            *ngIf="imageUrl"
            alt="Bild"
            #profileImg
          />
          <span id="name">Max Mustermann</span>
        </div>

        <div class="avatar-picker">
          <span class="nunito20px">Aus der Liste wählen</span>
          <div>
            <img
              *ngFor="let image of avatarImages; let i = index"
              class="avatar"
              id="avatar{{ i }}"
              [src]="image"
              (click)="selectAvatar(image)"
            />
          </div>
        </div>

        <div class="upload-container">
          <span class="nunito20px">eigenes Bild verwenden</span>
          <input
            type="file"
            (change)="selectFile($event)"
            accept="image/*"
            style="display: none"
            #fileInput
          />
          <button
            class="main-btn white-btn"
            (click)="fileInput.click()"
            accept="image/jpeg, image/png"
          >
            Datei hochladen
          </button>
        </div>

        <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
      </div>
      <ng-container *ngIf="isDisabled; else elseTemplate">
        <button class="main-btn disabled-btn">Anmelden</button>
      </ng-container>
      <ng-template #elseTemplate>
        <button
          type="submit"
          class="main-btn purple1-btn"
          (click)="createAccount()"
        >
          Anmelden
        </button>
      </ng-template>
    </mat-card-content>
  </mat-card>

  <app-footer></app-footer>
</div>
