<div class="login-container">
  <app-header></app-header>
  <div class="mobile-header">
    <a style="text-decoration: none; color: black" routerLink="/singup"
      ><app-logo></app-logo
    ></a>
  </div>

  <mat-card>
    <button routerLink="/forgotpassword" class="arrow-back-btn">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <mat-card-header>
      <h2>Passwort zurücksetzen</h2>
    </mat-card-header>
    <mat-card-content>
      <h3 class="nunito20px">Bitte geben Sie Ihr neues Passwort ein.</h3>
      <form
        id="login-card-container"
        #myForm="ngForm"
        (ngSubmit)="onSubmit(myForm)"
      >
        <div class="inputFields-container">
          <input
            type="password"
            id="password"
            class="login-inputs"
            placeholder="Passwort"
            name="password"
            [(ngModel)]="newPassword"
            required
            minlength="8"
          />
          <div class="validation-container">
            <div
              *ngIf="
                myForm.form.controls['password']?.invalid &&
                myForm.form.controls['password']?.touched
              "
            >
              Das Passwort muss midestens 8 Zeichen Lang sein.
            </div>
          </div>
        </div>

        <div class="inputFields-container">
          <input
            type="password"
            id="password-repeat"
            class="login-inputs"
            placeholder="Neues Kennwort bestätigen"
            name="password"
            [(ngModel)]="confirmPassword"
            ngModel
            required
            minlength="8"
          />
          <div class="validation-container">
            <div
              *ngIf="
                myForm.invalid &&
                myForm.form.controls['password']?.touched &&
                password !== passwordRepeat
              "
            >
              Passwörter stimmen nicht überein
            </div>
          </div>
        </div>

        <ng-container
          *ngIf="
            password === passwordRepeat && !myForm.invalid;
            else elseTemplate
          "
        >
          <button class="main-btn main-btn-wide purple1-btn" type="submit">
            Passwort ändern
          </button>
        </ng-container>

        <ng-template #elseTemplate>
          <button disabled class="main-btn main-btn-wide disabled-btn">
            Passwort ändern
          </button>
        </ng-template>
      </form>
      <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
    </mat-card-content>
  </mat-card>

  <app-footer></app-footer>
</div>
