<div class="login-container">
  <mat-card>
    <button  routerLink="/singup" class="arrow-back-btn">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <mat-card-header>
      <h2>Datenschutz</h2>
    </mat-card-header>
    <mat-card-content>
      <article>
        <p>
          Datenschutzbestimmungen für die Messenger-App "DABubble" Diese
          Datenschutzbestimmungen legen dar, wie "DABubble" Informationen
          sammelt, verwendet, speichert und offenlegt. Wir nehmen den Schutz
          Ihrer Privatsphäre sehr ernst und bemühen uns, Ihre persönlichen Daten
          zu schützen.
        </p>

        <p>
          1. Erfasste Informationen Benutzerkonto: Um "DABubble" nutzen zu
          können, müssen Sie ein Benutzerkonto erstellen. Dabei erfassen wir
          Ihre E-Mail-Adresse und ein Passwort. Kommunikationsdaten: "DABubble"
          erfasst und speichert Nachrichten, die Sie senden und empfangen, sowie
          Metadaten wie Zeitstempel und Absender/Empfängerinformationen.
          Geräteinformationen: Wir können Informationen über Ihr Gerät wie
          Gerätetyp, Betriebssystem und Geräte-ID erfassen, um die App-Leistung
          zu verbessern und technische Probleme zu beheben.
        </p>

        <p>
          2. Verwendung von Informationen Bereitstellung von Diensten: Die
          erfassten Informationen werden verwendet, um Ihnen die Nutzung der
          "DABubble"-App zu ermöglichen, einschließlich des Sendens und
          Empfangens von Nachrichten. Verbesserung der App: Wir verwenden
          anonymisierte Daten, um die Leistung und Funktionalität der App zu
          verbessern und Benutzererfahrungen zu optimieren. Kundensupport:
          Erfasste Informationen können zur Beantwortung von Anfragen und zur
          Bereitstellung von Support verwendet werden.
        </p>
        <p>
          3. Speicherung von Informationen Nachrichtenverlauf: Wir speichern
          Nachrichtenverläufe temporär auf unseren Servern, um die Kommunikation
          zwischen Benutzern zu erleichtern. Diese Daten werden verschlüsselt
          und regelmäßig gelöscht. Benutzerkontoinformationen: Ihre
          Benutzerkontoinformationen werden sicher gespeichert und geschützt.
        </p>
        <p>
          4. Offenlegung von Informationen Gesetzliche Anforderungen: Wir können
          Informationen offenlegen, wenn dies gesetzlich vorgeschrieben ist oder
          um unsere Rechte oder die Rechte anderer zu schützen. Drittanbieter:
          Wir geben keine persönlichen Informationen an Dritte weiter, es sei
          denn, dies ist für die Bereitstellung der Dienste von "DABubble"
          erforderlich.
        </p>
        <p>
          5. Datenschutz der Kinder "DABubble" richtet sich nicht an Kinder
          unter 13 Jahren und erfasst daher absichtlich keine persönlichen
          Informationen von Kindern.
        </p>
        <p>
          6. Kontaktaufnahme Wenn Sie Fragen oder Bedenken zu unseren
          Datenschutzbestimmungen haben, kontaktieren Sie uns bitte unter
          d.blem93&#64;gmail.com.
        </p>
        <p>
          7. Aktualisierungen der Datenschutzbestimmungen Wir behalten uns das
          Recht vor, diese Datenschutzbestimmungen jederzeit zu ändern oder zu
          aktualisieren. Über Änderungen werden wir Sie per E-Mail oder durch
          eine Benachrichtigung in der App informieren.
        </p>
        <p>
          8. Verwendung von Firebase von Google Datenverarbeitung: Wir nutzen
          Firebase von Google zur Authentifizierung, Speicherung von Daten und
          zur Verbesserung der App-Leistung. Ihre Daten können daher von
          Firebase von Google gemäß den Datenschutzbestimmungen von Google
          verarbeitet werden. Datensicherheit: Wir ergreifen angemessene
          Maßnahmen, um sicherzustellen, dass Ihre Daten sicher und geschützt
          sind, während sie von Firebase von Google verarbeitet werden.
        </p>
      </article>
    </mat-card-content>
  </mat-card>
</div>
