@import "../../../styles.scss";
@import "../../app.component.scss";
@import "../login.component.scss";


.login-container {
  align-items: center;
  justify-content: center;

}
mat-card {
  padding: 32px;
  gap: 0;
  height: max-content;
  font-size: 16px;
  font-family: Nunito, Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  width: 95%;
  overflow-y: scroll;
}

mat-card-header {
  @include dFlex($jc: unset, $ai: unset);
  text-align: start;
  flex-direction: column;
  width: 80%;
  h2 {
    font-family: Nunito;
  }
}

mat-card-content {
  @include dFlex($jc: space-around, $ai: unset);
  flex-direction: column;
  width: 80%;

  
}
