.container-chat-userlist {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 411px;
  width: 415px;
  padding: 40px;
  gap: 20px;
}

.position-title-close-userlist {
  display: flex;
  justify-content: space-between;
  align-items: center;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;

    img {
      cursor: pointer;
    }
  }

  h1 {
    font-family: Nunito;
    font-size: 24px !important;
    font-weight: 700 !important;
    line-height: 32.74px !important;
    margin: 0;
  }
}

.imgs {
  height: 50px;
  width: 50px;

  border-radius: 100%;
}

.position-userlist {
  display: flex;
  height: 300px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  gap: 16px;

  span {
    font-family: Nunito;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.55px;
    text-align: left;
  }
}

.name-img {
  display: flex;
  align-items: center;
  height: 58px;
  border-radius: 30px;
  gap: 15px;
  padding: 4px 20px 4px 20px;

  img {
    margin-left: 20px;
  }

  &:hover {
    cursor: pointer;
    background-color: rgb(236, 238, 254);
  }
}

.position-add-img-text {
  display: flex;
  align-items: center;
  position: absolute;
  justify-content: center;
  left: 20px;
  bottom: 40px;
  gap: 15px;
  width: 282px;
  height: 56px;
  border-radius: 100px;
  cursor: pointer;

  &:hover {
    background-color: rgb(236, 238, 254);
  }
  &:hover h3 {
    color: #535af1;
  }

  h3 {
    font-size: 18px;
    margin-bottom: 0px;
  }
}

@media (max-width: 700px) {
  .container-chat-userlist {
    width: unset;
  }

  .open-user-dialog-responsive {
    width: 280px;
  }

  .position-title-close-userlist {
    padding: 30px 16px 0 16px;
  }

  .position-userlist {
    padding: 30px 16px 0 16px;
  }

  .name-img img {
    margin-left: 0;
  }

  .position-add-img-text {
    width: 235px;
  }
}
