.container-chat-userlist {
    background-color: white;
    height: 411px;
    width: 415px;
}

.position-title-close-userlist {
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;


    img:hover {
        background-image: url("./../../../assets/img/close_hover.png");
        cursor: pointer
    }
}

.imgs {
    height: 50px;
    width: 50px;
    padding-bottom: 5px;
}

.position-userlist {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    display: flex;
    align-items: center;
    height: 58px;
    display: flex;
    flex-direction: column;


    h1{
        margin-bottom: -12px;
    }

    span {
        font-size: 18px;
        padding-left: 20px;
    }

}

.name-img {
    display: flex;
    align-items: center;
    height: 58px;
    border-radius: 30px;

    span {
        margin-right: 20px;
    }

    img {
        margin-left: 20px;
    }

    &:hover {
        cursor: pointer;
        background-color: rgb(236, 238, 254);
    }
}

.position-add-img-text {
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: center;
    left: 20px;
    bottom: 40px;
    gap: 15px;
    width: 282px;
    height: 56px;
    border-radius: 100px;

    &:hover {
        cursor: pointer;
        background-color: rgb(236, 238, 254);
    }

    h3 {
        font-size: 18px;
        margin-bottom: 0px;
    }
}

@media(max-width: 700px){

    .container-chat-userlist{
        width: unset;
    }

    .open-user-dialog-responsive{
      width: 280px;
    }

    .position-title-close-userlist{
        padding: 30px 16px 0 16px;
    }

    .position-userlist{
        padding: 30px 16px 0 16px;
    }

    .name-img img{
        margin-left: 0;
    }

    .position-add-img-text{
        width: 235px;
    }
  }