<div class="workspace-menu nunito">
  <div class="workspace-menu-header">
    <img src="assets/img/logo_workspace.png" alt="" />
    <h1>Code Learning</h1>
    <div (click)="loadlist()" (click)="showNewMessage()" class="div-edit-square">
      <img class="edit-square" src="assets/img/edit_square.png" alt="" />
    </div>
  </div>

  <div (click)="closeDropDown()" *ngIf="lookingFor.length > 0" class="search-container-background"></div>

  <div class="input-container">
    <input [(ngModel)]="lookingFor" autocomplete="off" id="search-input-responsive" placeholder="'Hauptname' dursuchen" type="text">
    <mat-icon class="search-icon">search</mat-icon>
  </div>
  <div *ngIf="lookingFor.length > 0" class="search-container">
    <div class="search-text">
      <div>
        <h4>Users:</h4>
        <div class="search-type-main-div" *ngFor="let user of firestoreService.allUserList">
          <div class="searching-element" (click)="
            showProfil(user.name, user.mail, user.profileImg)"
            *ngIf="user.name.toLowerCase().includes(lookingFor.toLowerCase())">
            <img class="userImg" src="{{ user.profileImg }}" />
            <span>{{ user.name }}</span>
          </div>
        </div>
      </div>
      <div>
        <h4 style="margin-top: 10px;" >Channels:</h4>
        <div class="search-type-main-div" *ngFor="let Channel of channelService.channelList"
          (click)="channelService.getUsersImages(Channel.users)" (click)="channelService.getUsersCounter(Channel.id)"
          (click)="channelService.getChannelName(Channel.name)"
          (click)="channelService.getDescription(Channel.description)"
          (click)="channelService.getUserName(Channel.users)" (click)="showChannel(Channel.id)">
          <div class="searching-element" *ngIf="Channel.name.toLowerCase().includes(lookingFor.toLowerCase())">
            <span>{{ Channel.name }}</span>
          </div>
        </div>
      </div>
      <div>
        <h4 style="margin-top: 10px;" >Chats:</h4>
        <div *ngFor="let chat of chatService.allChats">
          <div class="chat-container"
            *ngIf="(chat.textAreaInput?.toLowerCase().includes(lookingFor.toLowerCase())) && channelService.channelListNamesArray.includes(chat.channelName)">
            <span class="channel-name chat-element" (click)="getChannelInformation(chat.channelID)"
              (click)="showChannel(chat.channelID)">[{{
              chat.channelName }}]</span> &nbsp;
            <span class="chat-element" (click)="
              openThreadChat(
                chat.id,
                chat.textAreaInput,
                chat.loginName,
                chat.time,
                chat.mail,
                chat.profileImg,
                chat.chatImage
              )" (click)="getChannelInformation(chat.channelID)" (click)="showChannel(chat.channelID)">
              *{{ chat.textAreaInput|| chat.threadAreaInput}}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div>
    <div class="workspace-channels-header">
      <div class="workspace-channels-header-left" (click)="toggleChannels()">
        <div class="div-drop-down-img">
          <img id="drop-down-channels" class="drop-down-img" src="assets/img/arrow_drop_down.png" />
        </div>
        <img class="logo-channels" src="assets/img/logo_channels.png" />
        <span>Channels</span>
      </div>
      <div class="div-add">
        <img (click)="openCreateChannel()" class="add-img" src="assets/img/add.png" />
      </div>
    </div>
    <div class="pl-40" id="content-channels">
      <div class="channels" (click)="channelService.getUsersImages(Channel.users)"
        (click)="channelService.getUsersCounter(Channel.id)" (click)="channelService.getChannelName(Channel.name)"
        (click)="channelService.getDescription(Channel.description)" (click)="channelService.getUserName(Channel.users)"
        (click)="channelService.getAuthor(Channel.author)" (click)="showChannel(Channel.id)"
        *ngFor="let Channel of getChannels()">
        <img src="assets/img/tag.png" />
        <span>{{ Channel.name }}</span>
      </div>
      <div (click)="openCreateChannel()" class="add-channel">
        <img src="assets/img/add_circle.png" />
        <span>Channel hinzufügen</span>
      </div>
    </div>
  </div>
  <div class="workspace-contacts">
    <div class="workspace-contacts-header">
      <div class="workspace-contacts-header-left" (click)="toggleContacts()">
        <div class="div-drop-down-img">
          <img id="drop-down-contacts" class="drop-down-img" src="assets/img/arrow_drop_down.png" />
        </div>
        <img class="logo-contacts" src="assets/img/account_circle.png" />
        <span>Direktnachrichten</span>
      </div>
    </div>
    <div id="content-contacts">
      <div *ngFor="let user of firestoreService.allUserList" class="pl-40">
        <div (click)="chatService.getOtherUser(user)" (click)="showChat()" class="contacts">
          <img class="userImg" src="{{ user.profileImg }}" />
          <span>{{ user.name }}
            <span *ngIf="user.mail === authService.auth.currentUser?.email">(Du)</span></span>
            <div [ngClass]="{'dot-online': user.online === true, 'dot-offline': user.online === false}" class="dot"></div>
            
        </div>
      </div>
    </div>
  </div>
  <div (click)="loadlist()" (click)="showNewMessage()" class="new-message-responsive">
    <img src="assets/img/edit_square_white.png" alt="" />
  </div>
</div>