<div class="message-field-container">
  <div class="input-container">
    <textarea
      id="message-field-channel"
      [(ngModel)]="textAreaInput"
      placeholder="Nachricht an #Channelname"
      (input)="checkForAtSymbol()"
      (input)="checkForRouteSymbol()"
    ></textarea>
    <div class="chatImage"><img [src]="storageService.imageUrl" /></div>
  </div>
  <div class="button-container">
    <div class="first-icon-container">
      <mat-icon (click)="fileInput.click()" class="icon">add</mat-icon>
      <input
        id="inputMessage"
        type="file"
        (change)="storageService.selectFile($event, '')"
        accept="image/*"
        style="display: none"
        #fileInput
      />
      <div class="vector"></div>
      <mat-icon
        (click)="
          emojiService.isEmojiPickerVisible = !emojiService.isEmojiPickerVisible
        "
        class="icon"
        >sentiment_satisfied</mat-icon
      >

      <mat-icon (click)="toggleUserList()" class="icon"
        >alternate_email</mat-icon
      >
      <div
        id="userlist"
        #userlist
        [style.display]="userListDisplay"
        class="userlist"
      >
        <div *ngFor="let user of firestoreService.allUserList">
          <!-- <div>user.mail !== authentication.auth.currentUser?.email &&</div> -->
          <div class="contacts" (click)="markUserName(removeSpaces(user.name))">
            <img class="userImg" src="{{ user.profileImg }}" />
            <span class="userName">{{ user.name }} </span>
          </div>
        </div>
      </div>
    </div>
    <div>
      <mat-icon (click)="sendMessageToChat()" class="icon-send">send</mat-icon>
    </div>
    <div id="channelList" class="userlist d-none">
      <div *ngFor="let chanel of channelService.channelListNamesArray">
        <div class="channels" (click)="markChanelName(removeSpaces(chanel))">
          <span id="hash">#</span>
          <span class="chanelName">{{ chanel }}</span>
        </div>
      </div>
    </div>
  </div>
  <emoji-mart
    (click)="closeEmojiField()"
    class="emoji-mart"
    *ngIf="emojiService.isEmojiPickerVisible"
    (emojiSelect)="addEmoji($event)"
    title="Choose your emoji"
  >
  </emoji-mart>
</div>
