@import "../../styles.scss";
@import "../app.component.scss";

#login-container {
  width: 90%;
  height: 100%;
  @include dFlex($jc: unset, $ai: center);
  flex-direction: column;
  font-family: Nunito;
  gap: 8px;
}

app-header {
  width: 100%;
}

mat-card {
  @include dFlex($jc: center, $ai: center);
  gap: 64px;
  padding: 64px;
  width: 606px;
  height: 769px;
  border-radius: 30px;
}

mat-card-content {
  @include dFlex($jc: center, $ai: center);
  height: 100%;
}

mat-card-header {
  height: 133px;
  @include dFlex($jc: center, $ai: center);
  flex-direction: column;
  gap: 30px !important;
  text-align: center;
  font-family: Nunito;

  h2 {
    font-size: 46px;
    font-weight: 700;
    color: $purple1;
    font-family: Nunito;
  }
  h3 {
    font-family: Nunito;
    font-weight: 400;
    font-size: 20;
  }
}
#login-card-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

#inputs-container {
  @include dFlex($jc: center, $ai: center);
  flex-direction: column;
  gap: 32px;
}

.inputFields-container {
  @include dFlex($jc: center, $ai: center);
  position: relative;
  width: 100%;
  height: 60px;
  border-radius: 100px;
  border: 0;
  background-color: $bg-color;
  border: solid 1px white;

  mat-icon {
    position: absolute;
    margin-left: 32px;
    width: 32px;
    left: 0;
  }
}

.login-inputs {
  border-radius: 100px;
  height: 100%;
  width: 100%;
  border: solid 1px white;
  background-color: $bg-color;
  font-family: Nunito;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  outline: 0;
  &::content {
    padding-left: 96px;
  }
  &:hover {
    border: solid 1px $light-purple;
  }
  &:focus {
    border: solid 1px $purple3;
  }
}

.google-login {
  @include dFlex($jc: center, $ai: center);
  width: 100%;
  background-color: $bg-color;
  border-radius: 100px;
}

#google-login-btn {
  cursor: pointer;
}

.buttons-container {
  display: flex;
  gap: 30px;
}

#google-login-btn {
  @include dFlex($jc: center, $ai: center);
  gap: 20px;
  width: 100%;
  height: 60px;
  border: 0;
  border-radius: 100px;
  padding: 11px, 32px, 11px, 32px;
  background-color: $bg-color;

  font-family: Nunito;
  font-weight: 400;
  font-size: 18px;
}

.buttons-container {
  @include dFlex($jc: center, $ai: center);
  padding: 16px;
}

footer {
  @include dFlex($jc: center, $ai: center);
  gap: 32px;
  height: 42px;
  padding: 16px;
}

.animation-container {
  position: absolute;
  left: 0;
  width: 50%;
  height: 100%;
  z-index: 3;
  background-image: linear-gradient(#797ef3, #313ae5);
  animation: fadeOut 225ms ease forwards 2s;
}

.animation-container2 {
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  z-index: 2;
  background-image: linear-gradient(#797ef3, #313ae5);
  animation: fadeOut 225ms ease forwards 2s;
}

// standardwerte vom logo

.headline-img-container {
  @include dFlex($jc: unset, $ai: center);
  gap: 16px;
}
app-header {
  opacity: 0;
  animation: fadeIn 225ms ease forwards 2.43s;;
}

#logo-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 187px;
  height: 184px;
  z-index: 4;
  animation: introAnimationLogo 350ms ease-in-out forwards 1s,
    moveUpLeft 500ms ease-in-out forwards 2s, fadeOut 10ms ease forwards 2.5s;
}

#dabubble {
  position: absolute;
  font-family: Nunito;
  font-weight: 700;
  font-size: 64px;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-100%, 50%);

  color: white;
  animation: introAnimationDaBubble 350ms ease-in-out forwards 1.3s,
    moveUpLeftText 500ms ease-in-out forwards 2s,fadeOut 10ms ease forwards 2.5s
}
//============================

@keyframes introAnimationDaBubble {
  0% {
    transform: translate(-100%, 50%);
  }
  100% {
    transform: translate(0%, 50%);
  }
}
@keyframes introAnimationLogo {
  0% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(-150%, -50%);
  }
}

@keyframes moveUpLeft {
  0% {
    top: 50%;
    left: 50%;
    width: 187px;
    height: 184px;
  }
  100% {
    left: 200px;
    top: 50px;
    width: 70px;
    height: 70px;
  }
}
@keyframes moveUpLeftText {
  0% {
    font-size: 64px;
    z-index: 2;
    top: 50%;
    left: 50%;
  }
  100% {
    font-size: 32px;
    z-index: 4;
    left: 180px;
    top: 30px;
    color: black;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;

  }
}
