@media (max-width: 900px) {
  .login-container {
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 650px) {
  app-header {
    display: none;
  }
  mat-card {
    width: 100%;
    height: 552px;
    padding: 0px 20px 35px 20px;
    border-radius: 30px;
    gap: 20px;
    justify-content: space-evenly;
  }

  mat-card-header {
    padding: 0;
    h2 {
      font-size: 32px;
      line-height: 38px;
      letter-spacing: 0em;
      margin: 0;
    }
    h3 {
      font-size: 17px;
      line-height: 20px;
      letter-spacing: 0em;
      width: 100%;
    }
  }

  .login-container {
    @include dFlex($jc: space-around, $ai: center);

    width: 95%;
    overflow: hidden;
  }

  .inputFields-container {
    width: 100%;
    height: 50px;
  }

  #login-card-container {
    gap: 8px;
  }
  #inputs-container {
    width: 100%;
    gap: 30px;
  }
  .validation-container {
    top: 54px;
  }

  .login-inputs {
    font-size: 16px;
    width: 100%;
    height: 50px;
    padding-left: 64px;
  }

  .google-login {
    @include dFlex($jc: center, $ai: center);
    width: 100%;
    height: 50px;
  }

  #google-login-btn {
    height: 50px;
    font-size: 16px;
  }

  .purple-link {
    font-size: 16px;
  }

  #oder {
    width: 100%;
    height: 30px;
    margin-top: 4px;
    margin-bottom: 4px;
  }

  app-footer {
    display: none;
    height: max-content;
  }

  #mobile-footer,
  #mobile-header {
    display: flex;
    opacity: 0;
    animation: fadeIn 225ms ease forwards 2.43s;

    p {
      padding: 0;
      margin: 0;
    }
  }

  #mobile-header {
    margin-bottom: 8px;
  }

  // Animation

  .logo-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 70px;
    height: 70px;
    z-index: 4;
    animation: introAnimationLogo 350ms ease-in-out forwards 1s,
      moveUpLeftMobile 500ms ease-in-out forwards 2s,
      fadeOut 125ms ease forwards 2.5s;
  }

  #dabubble {
    font-size: 32px;
    animation: introAnimationDaBubble 350ms ease-in-out forwards 1.3s,
      moveUpLeftTextMobile 500ms ease-in-out forwards 2s,
      fadeOut 10ms ease forwards 2.5s;
  }

  @keyframes moveUpLeftMobile {
    0% {
      top: 50%;
      left: 50%;
      width: 70px;
      height: 70px;
    }
    100% {
      left: 44%;
      top: 50px;
      width: 70px;
      height: 70px;
    }
  }
  @keyframes moveUpLeftTextMobile {
    0% {
      font-size: 32px;
      z-index: 2;
      top: 50%;
      left: 52%;
    }
    100% {
      font-size: 32px;
      z-index: 4;
      left: 44%;
      top: 30px;
      color: black;
    }
  }
}

@media (max-width: 400px) {
  body {
    height: 680px !important;
  }
  mat-card {
    width: 95%;
  }
  .login-container {
    height: 680px;
    width: 100%;
    overflow: hidden;
    justify-content: unset;
  }

  .inputFields-container,
  .google-login {
    width: 90%;
    align-self: center;

    mat-icon {
      margin-left: 16px;
    }
  }
  .login-inputs {
    padding-left: 52px;
  }

  #oder {
    width: 85%;
    align-self: center;
  }
  .buttons-container {
    gap: 8px;
  }
}
@media (max-height: 700px) {
  .animation-container,
  .animation-container3 {
    height: 700px;
  }
}
