@import "../../app.component.scss";

.profile-dialog {
  width: 282px;
  height: 181px;
  padding: 30px;
  gap: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;

  font-family: Nunito;
  font-weight: 400;
  font-size: 24px;
}

.text-container {
  @include dFlex($jc: center, $ai: center);
  width: 80%;
  height: 100px;

  &:hover {
    cursor: pointer;
    border-radius: 50px;
    background-color: #eceefe;
    color: #535af1;
  }
}

@media (max-width: 550px) {
  .profile-dialog {
    width: 100%;
  }
}
