app-workspace-menu{
    width: 366px;
    display: flex;
    background: white;
    border-radius: 30px;
}

app-channel-chat-window{
    flex: 1;
}

app-message-chat-window{
    flex: 1;
    display: none;
}

.main-board{
    background-color: #ECEEFE;
    max-width: 2000px;
    width: 100%;
}

.container {
    display: flex;
}

.position-chat{
    display: flex;
    margin: 20px 25px 25px 0px;
    gap: 20px;
    height: calc(100vh - 140px);
}

@media (max-width: 1300px){
    app-workspace-menu{
        width: 100%;
    };

    app-channel-chat-window{
        display: none;
    };

    app-message-chat-window{
        display: none;
    }

    app-thread-window{
        width: 100%;
        display: none;
    };

    app-workspace-menu-togglebar{
        display: none;
    }

    .position-chat{
        margin-left: 25px;
    }
}

@media (max-width: 550px){
    app-workspace-menu{
        border-radius: 0;
    }

    .position-chat{
        margin: 20px 0 0 0;
    }
}

@media(max-height: 800px){
    .position-chat{
        min-height: calc(100vh - 140px);
        height: unset;
    }
}