<div *ngIf="authService.auth.currentUser !== null" (click)="closeEmojiField()" class="main-board">
    <app-board-header></app-board-header>
    <div class="position-chat">
        <app-workspace-menu-togglebar></app-workspace-menu-togglebar>
        <app-workspace-menu id="app-workspace-menu"></app-workspace-menu>
        <app-channel-chat-window id="app-channel-chat-window"></app-channel-chat-window>
        <app-message-chat-window id="app-message-chat-window"></app-message-chat-window>
        <app-new-message id="app-new-message"></app-new-message>
        <app-thread-window [style.display]="'none'" id="app-thread-window"></app-thread-window>
    </div>
</div>
<div (click)="closePicker()" *ngIf="chatService.emojiPickerIsOpen" id="emoji-picker-open"></div>