app-workspace-menu{
    width: 366px;
    display: flex;
    background: white;
    border-radius: 30px;
}

app-channel-chat-window{
    flex: 1;
}

.main-board{
    background-color: #ECEEFE;
}

.container {
    display: flex;
}

.position-chat{
    display: flex;
    margin: 20px 25px 25px 0px;
    gap: 20px;
}

@media (max-width: 1200px){
    app-workspace-menu{
        width: 100%;
    };

    app-channel-chat-window{
        display: none;
    };

    app-thread-window{
        width: 100%;
        display: none;
    };

    app-workspace-menu-togglebar{
        display: none;
    }

    .position-chat{
        margin-left: 25px;
    }
}