.edit-container {
    height: 616px;
    width: 872px;
    background-color: white;
    border-top-right-radius: 30px;

    h1 {
       font-size: 25px;
    }
}

.title-close-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px; 
}