<div class="edit-container">
    <div class="title-close-btn">
        <h1># Entwicklerteam</h1>
        <img (click)="closeEditWindowChannel()" src="assets/img/close.png">
    </div>
    <div class="position">
        <div class="channel-name">
            <div class="position-edit-channel-name">
                <h2>Channel-Name</h2>
                <h2 (click)="editChannelName()" class="edit">Bearbeiten</h2>
            </div>

            <div class="f">
                <h2>#</h2>
                <h3>Entwicklerteam</h3>
            </div>   
        </div>

        <div class="description-channel">
            <div class="container-description">
                <div class="position-edit-description">
                    <h2>Beschreibung</h2>
                    <h2 class="edit">Bearbeiten</h2>
                </div>
                <span class="text">text</span>
            </div>

            <div class="position-line">
                <div class="line"></div>
            </div>

            <div class="creat-from-container">
                <h2>Erstellt von</h2>
                <h1>Noah Braun</h1>
            </div>
        </div>
    </div>
    <img class="left-channel-btn" (click)="leftEditWindowChannel()" src="assets/img/channel_verlassen_btn.png">
</div>