.chat-container {
    background-color: white;
    width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.chat-container-inside{
    height: calc(100vh - 522px);
    overflow: auto;
}

.chat-tastatur {
    position: relative;
    background-color: white;
    height: 300px;
    width: 100%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;

    app-message-field {
        position: absolute;
        bottom: 20px;
        left: 20px;
        right: 20px;
    }

}

.container-all-chat-content {
    position: relative;
    width: 100%;
}

.chat-navbar {
    display: flex;
    justify-content: space-between;
    padding: 25px 45px 25px 45px;
    height: 32px;
    box-shadow: 0px 4px 4px rgba(158, 157, 157, 0.1);

    h2 {
        font-size: 24px;
    }

    .user-add {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 192px;
    }

    img {
        height: 40px;
        width: 40px;
    }

    span {
        font-size: 20px;
        padding-right: 20px;
        padding-left: 20px;
    }
}

.add-user-button {
    height: 40px;
    width: 40px;
}

.chanel-arrow {
    display: flex;

    img {
        height: 35px;
        width: 35px;
    }
}

.center-objects {
    display: flex;
    align-items: center;
}

.position-name-time {
    display: flex;
    align-items: center;
    padding: 0;
    gap: 20px;

    h3 {
        margin: 0;
        font-size: 18px;
        font-weight: 700;

        &:hover {
            color: #535AF1;  
            cursor: pointer;
        }
    }
}

.hover-container {
    display: none;
}

.hover-container-visible {
    display: block;
}

.message-div{
 padding: 10px 45px;
}

.container-question-message {
    min-height: 141px;
    width: 100%;
    border-top: solid 1px #ADB0D9;
    display: flex;
    justify-content: space-between;

    &:hover {
        background-color:  #ECEEFE;
        cursor: pointer;

        .question-channel{
            background-color: white;
        }
    }

    img {
        height: 70px;
        width: 70px;
    }

    span {
        color: #686868;
    }

    .question-channel {
        background-color:  #ECEEFE;
        padding: 15px;
        border-radius: 0px 30px 30px 30px;
        color: black;
        font-size: 18px;
        display: flex;
        flex-wrap: wrap;


        &:hover {
            background-color:  white;
        }
    }
}

.hidden-content-message {
    display: none;
    margin-right: 30px;
    border: solid 1px color #ADB0D9;
    background-color: white;
    height: 46px;

}

.container-question-message:hover .hidden-content-message {
    display: block;
}


@media (max-width: 1400px) {
    .user-add {
        width: unset !important;
    }
}

@media (max-width: 550px) {
    .chat-container {
        border-radius: 0;
    }

    .message-div{
        padding: 10px 18px;
    }

    .chat-navbar {
        padding: 25px;

        h2 {
            font-size: 20px;
        }
    }

    .chanel-arrow {
        img {
            height: 30px;
            width: 30px;
        }
    }

    .center-objects {
        display: none;
    }

    .container-question-message{
        img{
            height: 50px;
            width: 50px;
        }
    }
}

@media(max-height: 800px){
    .chat-container {
        height: unset;
        min-height: calc(100vh - 440px);
    }
}