.chat-container {
  background-color: white;
  width: 100%;
  height: calc(100% - 32px);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container-all-chat-content {
  position: relative;
  width: 100%;
  height: 100%;
}

#chat-container {
  margin-top: 100px;
  margin-bottom: 64px;
}

.chat-container-inside {
  height: calc(100vh - 380px);
  overflow-y: auto;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 0px;
  }
}

.info-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  font-family: Nunito, Roboto, Helvetica, sans-serif;
  width: 80%;
  text-align: center;
  gap: 16px;
  line-height: 30px;

  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 22px;
  }

  p {
    font-size: 22px;
  }
}

.chat-tastatur {
  position: relative;
  background-color: white;
  height: 216px;
  width: 100%;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

  app-message-field {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
  }
}

.center-objects {
  display: flex;
  align-items: center;
}

.position-name-time {
  display: flex;
  align-items: flex-end;
  padding: 0;
  gap: 20px;
  margin-bottom: 8px;

  h3 {
    margin: 0;
    font-family: Nunito;
    font-size: 18px;
    font-weight: 700;
    line-height: 24.55px;
    cursor: pointer;

    &:hover {
      color: #535af1;
    }
  }
}

.reaction-area {
  display: none;
  position: absolute;
  top: 14px;
  right: 32px;
  border-radius: 25px 25px 0 25px;
  border: 1px solid rgba(173, 176, 217, 1);
  padding: 3px 15px 3px 20px;
  height: 35px;
  background: white;
  cursor: pointer;

  .reaction-icons {
    height: 24px;
    width: 24px;
    padding: 8px;
    border-radius: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background: #eceefe;
    }
  }
}

.editDiv {
  width: 100%;
  background: white;
  min-height: 50px;
  border-radius: 30px;
  border: 1px solid #adb0d9;
  padding: 20px;

  textarea {
    outline: none;
    background: none;
    border: none;
    font-family: "Nunito";
    font-size: 24px;
    color: #686868;
    resize: none;
    width: 100%;
    min-height: 50px;
    height: fit-content;
  }

  .button-edit-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
    cursor: default;
  }
}

.icons-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.emoji-frame {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 56px;
  height: 28px;

  border-radius: 20px;
  border: 1px solid #adb0d9;

  &:hover {
    border: 1px solid #797ef3;
  }
}

.reactions {
  display: none;
  position: absolute;
  width: 118px;
  height: 82px;
  padding: 15px 10px 15px 10px;
  border-radius: 30px 30px 30px 0px;
  background: #444df2;
  left: 32px;
  bottom: 29px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.emoji-frame:hover .reactions{
  display: flex;
}

.emojis {
  display: flex;
  gap: 10px;
  font-size: 16px;
}


.reacted {
  font-family: Nunito;
  font-size: 18px;
  font-weight: 700;
  line-height: 24.55px;
  text-align: left;
  color: white !important;
}
.reagiert {
  font-family: Nunito;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.82px;
  text-align: center;
  color: white !important;
}

.emoji {
  font-size: 18px;
}

.answers {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  margin-top: 8px;
  align-items: center;

  h3 {
    font-size: 18px;
    color: rgba(83, 90, 241, 1);
    line-height: 24.5px;
    margin: 0;
    display: flex;
  }

  span {
    font-size: 14px;
    line-height: 19px;
    color: rgba(104, 104, 104, 1);
  }
}

.aswer-count {
  display: flex;
}

.aswer-count:hover h3 {
  text-shadow: 0.8px 0px rgba(83, 90, 241, 1);
}

.message-div {
  display: flex;
  padding: 10px 45px;
  margin: 37px 0;
  width: 100%;
  cursor: pointer;
  &:hover {
    background-color: #eceefe;

    .question-channel {
      background-color: white;
    }
  }
}
//flipped chat
.flipped {
  transform: scaleX(-1);
}

.question-channel {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.message-img {
  border-radius: 360px;
  width: 82px;
  height: 70px;
}

.container-question-message {
  position: relative;
  min-height: 141px;
  width: 100%;
  border-top: solid 1px #adb0d9;
  display: flex;
  justify-content: space-between;

  &:hover {
    > .reaction-area {
      display: flex;
    }
  }

  span {
    color: #686868;
  }

  .chatImage {
    max-width: 420px !important;
    img {
      max-width: 400px !important;
      max-height: 260px !important;
    }
  }
}

.date-line {
  position: absolute;
  top: -24px;
  left: 50%;
  transform: translateX(-50%);
  width: 189px;
  height: 35px;
  padding: 5px 15px 5px 15px;
  border-radius: 30px;
  border: 1px solid #adb0d9;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  span {
    font-family: Nunito;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.55px;
    text-align: left;
  }
}

.question-channel {
  background-color: #eceefe;
  padding: 15px;
  border-radius: 0px 30px 30px 30px;
  color: black;
  font-size: 18px;
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  &:hover {
    background-color: white;
  }
}

.hidden-content-message {
  display: none;
  margin-right: 30px;
  border: solid 1px color #adb0d9;
  background-color: white;
  height: 46px;
}

//header
.chat-navbar {
  display: flex;
  justify-content: space-between;
  padding: 25px 45px 25px 45px;
  height: 32px;
  box-shadow: 0px 4px 4px rgba(158, 157, 157, 0.1);
  background-color: white;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-bottom: -50px;
  position: relative;
  z-index: 2;

  h2 {
    font-size: 24px;
  }

  .user-add {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 192px;
  }

  img {
    height: 40px;
    width: 40px;
  }

  span {
    font-size: 20px;
    padding-left: 20px;

    &:hover {
      color: #535af1;
    }
  }
}

.profileimges {
  &:hover {
    cursor: pointer;
  }
}

.position-emoji-amount {
  display: flex;
  padding-right: 10px;
}

.login-name {
  background-color: #444df2;
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 50px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  align-items: center;
  margin-bottom: 5px;

  span {
    margin-top: 5px;
    font-size: 20px;
  }
}

.chanel-arrow {
  display: flex;
  margin: 0px;

  h2 {
    padding-left: 5px;
  }

  &:hover {
    background-color: #eceefe;
    border-radius: 35px;
    cursor: pointer;
    color: #535af1;
  }
}

.icon-arrow-down {
  font-size: 30px;
  padding-right: 5px;
}

.center-objects {
  display: flex;
  align-items: center;
  border-radius: 3px;
  margin-right: 20px;
  padding-left: 25px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;

  &:hover {
    background-color: #eceefe;
    border-radius: 25px;
    color: #797ef3;
  }
}

.add-user-button {
  height: 40px;
  width: 40px;

  &:hover {
    cursor: pointer;
    background-image: url("./../../../assets/img/close_hover.png");
  }
}

.rowRewerse {
  flex-direction: row-reverse;
}

.mirrorUser {
  flex-direction: row-reverse;
  gap: 30px;
}
.mirrorUser-div {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.mirrorBubble {
  border-radius: 30px 0px 30px 30px !important;
  background-color: #797ef3 !important;
}

.font-white {
  color: white !important;
}

.bg-blue {
  background-color: #797ef3;
}

.mirrorReact {
  left: 32px;
  right: unset;
}

@media (max-width: 1400px) {
  .user-add {
    width: unset !important;
  }
}

@media (max-width: 550px) {
  .center-objects {
    display: none !important;
  }
  .chat-container {
    position: relative;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding-bottom: 154px;
  }
  .chat-container-inside {
    height: auto;
  }

  .message-div {
    padding: 10px 18px;
  }

  .chat-navbar {
    padding: 10px 16px 10px 16px;
    border-radius: 0;

    h2 {
      font-size: 20px;
    }
  }

  .chanel-arrow {
    img {
      height: 30px;
      width: 30px;
    }
  }

  .question-channel{
    font-size: 16px;
  }

  .container-question-message {
    .message-img {
      height: 50px;
      width: 50px;
    }

    .chatImage {
      max-width: 160px !important;
      img {
        max-width: 140px !important;
        max-height: 260px !important;
      }
    }
  }

  .position-name-time {
    h3 {
      font-size: 16px;
      line-height: 18.55px;
    }

    span{
      font-size: 12px;
    }

  }


  .reactions {
    border-radius: 30px 30px 0px 30px;
    right: 32px;
    left: unset;
    z-index: 1;
  }
  .chat-tastatur {
    position: fixed;
    bottom: -8px;
    height: 146px;
    z-index: 2;
  }

  .date-line {
    padding: 0;
    span {
      font-size: 16px;
    }
  }

  .textAreaInput {
    font-size: 16px;
  }

  .answers {
    h3 {
      font-size: 16px;
      line-height: 22.5px;
    }

    span {
      font-size: 12px;
      line-height: 17px;
    }
  }
}

@media (max-height: 800px) {
  .chat-container {
    min-height: calc(100vh - 440px);
  }
}


@media (max-width: 600px) {
  .editDiv{
    width: unset;
  }

  .button-edit-container{
    flex-direction: column;
  }
}