@mixin dFlex($jc: space-between, $ai: center){
    display: flex;
    justify-content: $jc;
    align-items: $ai;
}

// app-login styling

app-login{

    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}