@import "../../../styles.scss";
@import "../../app.component.scss";
@import "../login.component.scss";

.login-container {
  @include dFlex($jc: center, $ai: center);
  flex-direction: column;
  gap: 16px;
}

mat-card {
  @include dFlex($jc: center, $ai: center);
  gap: 64px;
  padding: 32px;
  width: 606px;
  height: 669px;
  border-radius: 30px;
}

mat-card-content {
  height: 100%;
  width: 90%;
}

mat-card-header {
  position: relative;
  @include dFlex($jc: flex-end, $ai: center);


  h2 {
    margin: 0;
  }
}

#login-card-container {
  gap: 18px;
  width: 100%;
}

#inputs-container {
  @include dFlex($jc: center, $ai: unset);
}

.main-btn {
  align-self: flex-end;
}

.fs-16 {
  font-size: 16px;
}

