<div class="header-container">
    <app-logo *ngIf="!ResponsiveService.chatOpenAndWithUnder1300px && !ResponsiveService.directMessageOpenAndWithUnder1300px  &&!ResponsiveService.newMessageOpenAndWithUnder1300px"></app-logo>
    <div *ngIf="ResponsiveService.chatOpenAndWithUnder1300px || ResponsiveService.directMessageOpenAndWithUnder1300px || ResponsiveService.newMessageOpenAndWithUnder1300px" class="mobile-logo nunito">
        <mat-icon (click)="closeChannel()">arrow_back_ios</mat-icon>
        <img src="assets/img/logo_workspace.png" alt="">
        <h1>Code Learning</h1>
    </div>
    <div class="input-container">
        <input placeholder="'Hauptname' dursuchen" type="text">
        <mat-icon class="search-icon">search</mat-icon>
    </div>
    <div (click) = "openDialog()" class="user-container">
        <span>{{authentication.currentUser?.displayName}}</span>
        <img src="assets/img/avatar3.png" alt="avatar">
        <mat-icon>expand_more</mat-icon>
    </div>
</div>
