@import '../../app.component.scss';

.header-container{
    @include dFlex($jc: space-between, $ai: center);
    margin-top: 25px;
    margin-left: 45px;
    margin-right: 45px;
}

.input-container{
    @include dFlex($jc: space-between, $ai: center);
    border: none;
    border-radius: 42px;
    padding: 17.5px 45px 17.5px 45px;
    width: 989px;
    background: white;

    input{
        border: none;
        outline: none;
        width: 100%;
        font-family: Nunito;
        font-weight: 400;
        font-size: 16px;

        &::placeholder {
            font-family: Nunito;
            font-weight: 400;
            font-size: 16px;
          }
    }
}