<div class="header-container">
  <app-logo
    *ngIf="!ResponsiveService.chatOpenAndWithUnder1300px && !ResponsiveService.directMessageOpenAndWithUnder1300px  &&!ResponsiveService.newMessageOpenAndWithUnder1300px"></app-logo>
  <div
    *ngIf="ResponsiveService.chatOpenAndWithUnder1300px || ResponsiveService.directMessageOpenAndWithUnder1300px || ResponsiveService.newMessageOpenAndWithUnder1300px"
    class="mobile-logo nunito">
    <mat-icon (click)="closeChannel()">arrow_back_ios</mat-icon>
    <img src="assets/img/logo_workspace.png" alt="">
    <h1>Code Learning</h1>
  </div>
  <div class="search-box">
    <div class="input-container">
      <input [(ngModel)]="lookingFor" placeholder="'Hauptname' dursuchen" type="text">
      <mat-icon class="search-icon">search</mat-icon>
    </div>
    <div *ngIf="lookingFor.length > 0" class="search-container">
      <div class="search-text">
        <div>
          <h4>Users:</h4>
          <div *ngFor="let user of firestore.allUserList">
            <div (click)="
            showProfil(user.name, user.mail, user.profileImg)
          " *ngIf="user.name.toLowerCase().includes(lookingFor.toLowerCase())">
              <img class="userImg" src="{{ user.profileImg }}" />
              <span>{{ user.name }}</span>
            </div>
          </div>
        </div>
        <div>
          <h4>Channels:</h4>
          <div *ngFor="let Channel of channelService.channelList"
          (click)="channelService.getUsersImages(Channel.users)"
          (click)="channelService.getUsersCounter(Channel.id)"
          (click)="channelService.getChannelName(Channel.name)"
          (click)="channelService.getDescription(Channel.description)"
          (click)="channelService.getUserName(Channel.users)"
          (click)="showChannel(Channel.id)">
            <div *ngIf="Channel.name.toLowerCase().includes(lookingFor.toLowerCase())">
              <span>{{ Channel.name }}</span>
            </div>
          </div>
        </div>
        <div>
          <h4>Chats & Threads:</h4>
          <div *ngFor="let chat of chatService.allChats">
            <div *ngIf="(chat.textAreaInput?.toLowerCase().includes(lookingFor.toLowerCase())) && channelService.channelListNamesArray.includes(chat.channelName)">
              <span>{{ chat.channelName }}</span>&nbsp;
              <span>{{ chat.textAreaInput|| chat.threadAreaInput}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div (click)="openDialog()" class="user-container">
    <span>{{authentication.auth.currentUser?.displayName}}</span>
    <img [src]="authentication.auth.currentUser?.photoURL" alt="avatar">
    <mat-icon>expand_more</mat-icon>
  </div>
</div>