.container-profil-view {
  width: 500px;
  background-color: white;
  padding: 45px 40px;
}

.position-title-close-profil-view {
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    margin-top: -17px;
    cursor: pointer;
  }
}

.p {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 45px 0;

  img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
}

.status {
 
  height: 16px;
  width: 16px;
  border-radius: 50%;
}

.position-status {
  display: flex;
  align-items: center;
  margin-bottom: 0;

  h3 {
    font-size: 20px;
    margin-left: 15px;
    margin-bottom: 0;
  }
}

.online {
  color: #92c83e;
}
.offline {
  color: #686868;
}
.online-status {
  background-color: #92c83e;
}
.offline-status {
  background-color: #686868;
}

.position-message-btn {
  display: flex;
  justify-content: center;

  img {
    width: 164px;
    height: 49px;

    &:hover {
      cursor: pointer;
      filter: brightness(160%);
    }
  }
}

h1 {
  font-size: 32px;
  font-weight: 700;
}

.position-email {
  display: flex;
  align-items: center;
  margin-top: 45px;

  h2 {
    margin: 0 0 0 20px;
  }
}

.mail {
  margin: 10px 0 45px 52px;
}

@media (max-width: 800px) {
  .container-profil-view {
    width: 350px;
  }
}

@media (max-width: 550px) {
  .container-profil-view {
    width: unset;
    padding: 40px 20px;
  }
}
