<div id="profilView" class="container-profil-view">
  <div class="position-title-close-profil-view">
    <h1>Profil</h1>
    <img
      class="close-btn"
      (click)="closeProfilView()"
      src="assets/img/close.png"
    />
  </div>

  <div class="p">
    <img [src]="firestoreService.userImage" alt="avatar" />
  </div>

  <div>
    <h1>{{ firestoreService.loginName }}</h1>
    <div class="position-status">
      <div
        class="status"
        [class.online-status]="firestoreService.userOnlineStatus"
        [class.offline-status]="!firestoreService.userOnlineStatus"
      ></div>

      <ng-container
        *ngIf="firestoreService.userOnlineStatus; else elseTemplate"
      >
        <h3 class="online">Aktiv</h3>
      </ng-container>
      <ng-template #elseTemplate>
        <h3 class="offline">Abwesend</h3>
      </ng-template>
    </div>
  </div>

  <div class="position-email">
    <img src="assets/img/mail.png" />
    <h2>E-Mail-Adresse</h2>
  </div>

  <h3 class="mail">{{ firestoreService.userMail }}</h3>

  <div class="position-message-btn">
    <img
      (click)="openDirectMessage()"
      (click)="
        chatService.getOtherUser(auth.getUSerByEmail(firestoreService.userMail))
      "
      src="assets/img/message_button.png"
    />
  </div>
</div>
