.container-profil-view {
    height: 705px;
    width: 500px;
    background-color: white;
}

.position-title-close-profil-view {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    align-items: center
    ;
    img{
        margin-top: -17px;
    }
}

.p {
    display: flex;
    justify-content: center;
    gap: 20px;

    img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

.online-status {
    background-color:  #92C83E;
    height: 16px;
    width: 16px;
    border-radius: 50%;
}

.position-status {
    display: flex;
    align-items: center;
    padding-left: 40px;

    h3 {
        color: #92C83E;
        font-size: 20px;
        margin-left: 15px;
    }
}

.position-message-btn {
    display: flex;
    justify-content: center;

    img {
        width: 164px;
        height: 49px;


        &:hover {
            cursor: pointer;
            filter: brightness(160%);
        }
    }
}

.position-email {
    display: flex;
    align-items: center;
    padding-left: 40px;
}

@media(max-width: 800px){
    .container-profil-view {
        height: 600px;
        width: 400px;
    }
}

@media(max-width: 550px){
    .container-profil-view {
        height: 600px;
        width: 275px;

    }

    .position-title-close-profil-view{
        padding: 45px 20px 0px 20px;
    }

    .position-status{
        padding-left: 20px;
    }

    .position-email{
        padding-left: 20px;
    }

    .p{
        padding: 20px 0;
    }



}