@import '../../../app.component.scss';


.message-field-container {
    border: 1px solid #ADB0D9;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 20px;
    background: white;
    box-sizing: border-box;
    margin: 20px;
}

.input-container {
    textarea {
        height: 80px;
        border: none;
        outline: none;
        width: 100%;
        font-family: Nunito;
        font-weight: 400;
        font-size: 18px;
        resize: none;

        &::placeholder {
            display: flex;
            font-family: Nunito;
            font-weight: 400;
            font-size: 18px;
        }
    }
}

.chatImage {
    img {
      max-width: 640px;
      max-height: 320px;
      object-fit: contain;
    }
  }

.button-container {
    @include dFlex($jc: space-between, $ai: center);
    width: 100%;
    display: flex;
    align-items: flex-end;
}

.first-icon-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.vector {
    border: 1px solid #ADB0D9;
    width: 0px;
    height: 40px;
}

.icon {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #686868;

    &:hover {
        cursor: pointer;
        border-radius: 42px;
        color: #444DF2;
        background-color: #ECEEFE;
        transform: scale(1.1);
    }
}

.icon-send {
    color: #444DF2;

    &:hover {
        cursor: pointer;
        color: #8b92da;
    }
}

@media(max-width:550px){

    @import '../../message-field/message-field.component.scss';
    .message-field-container {
        border-radius: 20px;
        padding: 20px;
        width: 90vw;
        background: white;
        box-sizing: border-box;
    }

    .chatImage {
        max-width: 160px !important;
        img {
          max-width: 140px !important;
          max-height: 260px !important;
        }
      }
    
}