<div class="nunito dialog-create-channel">
    <div class="dcc-header">
        <h1 class="nunito">Channel erstellen</h1>
        <mat-icon (click)="closeCreateChannelWindow()" fontIcon="close"></mat-icon>
    </div>
    <div>
        <span class="dcc-info nunito">Channels dienen deinem Team zur Kommunikation. Am besten sollten sie themenbezogen sein #marketing zum Beispiel</span>
    </div>
    <div class="dcc-name">
        <h2 class="nunito"><b>Channel-Name</b></h2>
        <div class="div-input">
            <mat-icon fontIcon="tag"></mat-icon>
            <input required [(ngModel)]="channelName"  class="nunito" type="text" placeholder="z.B. Kooperationsprojekte">
        </div> 
        <div class="div-warning-name">
            <span *ngIf="isChannelInAllChannels()" class="warning-name">Dieser Channel existiert bereits! Bitte wählen Sie einen anderen Namen</span>
        </div>
    </div>
    <div>
        <h2 class="nunito"><b>Beschreibung</b> (optional)</h2>
        <div class="div-input">
            <input  [(ngModel)]="channelDescription"  class="nunito" type="text" placeholder="Dein Text hier">
        </div> 
    </div>
    <div class="div-button">
        <button (click)="createChannel()" [ngClass]="{'disabled-btn': !channelName || isChannelInAllChannels()}" [disabled]="!channelName || isChannelInAllChannels()" class="nunito main-btn purple1-btn">Erstellen</button>
    </div>
</div>
