.dialog-create-channel {
    padding: 40px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    --mdc-dialog-container-shape: 30px 30px 30px 30px;
    
    span{
        font-size: 18px;
    }
}

.div-warning-name{
    height: 20px;
}

.warning-name{
    color: red;
    font-size: 16px;
}

.mat-mdc-dialog-container {
    --mdc-dialog-container-shape: 30px 0px 30px 30px;
  }

.dcc-header {
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;

    h1 {
        font-weight: 700;
        font-size: 24px;
        margin: 0;
    }

    .dcc-info {
        font-size: 18px;
        font-weight: 400;
    }

    .dcc-name {
        font-size: 18px;
        font-weight: 700;
    }

}

.div-input {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    border-radius: 40px;
    border: 1px solid rgba(173, 176, 217, 1);
    font-size: 18px;
    gap: 15px;

    >input{
        border: none;
        width: 100%;
        height: 25px;
    }

    .mat-icon{
        color: rgba(104, 104, 104, 1);
    }

    &:hover{
        cursor: pointer;
    }
}

.div-button{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 45px;
}

@media(max-width: 550px){
    .dialog-create-channel{
        padding: 40px 20px;
        gap: 25px; 
    }

    .dcc-info{
        font-size: 17px;
    }
}

