<div class="nunito">
    <div>
        <h1>Channel erstellen</h1>
        <mat-icon fontIcon="close"></mat-icon>
    </div>
    <div>
        <span>Channels dienen deinem Team zur Kommunikation. Am besten sollten sie themenbezogen sein #marketing zum Beispiel</span>
    </div>
    <div>
        <h2><b>Channel-Name</b></h2>
        <div>
            <mat-icon fontIcon="tag"></mat-icon>
            <input type="text" placeholder="z.B. Kooperationsprojekte">
        </div> 
    </div>
    <div>
        <h2><b>Beschreibung</b> (optional)</h2>
        <div>
            <input type="text" placeholder="Dein Text hier">
        </div> 
    </div>
    <div>
        <button class="main-btn purple1-btn">Erstellen</button>
    </div>
</div>
