.workspace-menu-togglebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background: white;
  padding: 23px 14px;
  position: absolute;
  left: 0;
  top: 50%;
  box-shadow: 4px 4px 7px 0 rgba(0, 0, 0, 0.2);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  font-family: Nunito;
  z-index: 10;

  span {
    transform: rotate(180deg);
    writing-mode: vertical-lr;
    font-size: 20px;
    font-weight: 500;
    height: 260px;
  }

  &:hover {
    color: rgb(83, 90, 241);
    cursor: pointer;

    .img-open {
      content: url("./../../../assets/img/hide_navigation_hover.png");
    }

    .img-close {
      content: url("./../../../assets/img/show_navigation_hover.png") !important;
    }
  }
}

@media (min-width: 2001px) {
  .workspace-menu-togglebar {
    left: calc((100% - 2000px) / 2);
  }
}
