@import '../app.component.scss';
@import '../login/login.component.scss';

img{
    width: 70px;
    height: 70px;
    z-index: 2;
}

.headline-img-container{
    @include dFlex($jc: unset, $ai: center);
    gap: 16px;
}

span{
    font-family: Nunito;
    font-weight: 700;
    font-size: 32px;
}

@media (max-width: 550px){
    img{
        width: 50px;
        height: 50px;
    }

    span{
        font-size: 28px;
    }
}