@import "../../../styles.scss";
@import "../../app.component.scss";

@media (max-width: 650px) {
  .mobile-header {
  }

  .login-container {
    justify-content: center;
    gap: 32px;
  }

  .arrow-back-btn {
    top: 16px;
    left: 16px;
  }
  mat-card {
    padding: 40px 20px 40px 20px;
  }
  mat-card-content {
    width: 90%;
    padding: 0;
  }

  mat-card-header {
    h2 {
      width: 193px;
    }
  }
}
