@import "../../../styles.scss";
@import "../../app.component.scss";
@import "../login.component.scss";

app-header {
  opacity: 1;
  animation: unset;
}

.mobile-header {
  display: none;
}

form {
  @include dFlex($jc: center, $ai: center);
  flex-direction: column;
  gap: 32px;
}

mat-card {
  gap: 8px;
  padding: 16px;
  width: 700px;
  height: 470px;
}

mat-card-content {
  @include dFlex($jc: space-around, $ai: center);
  flex-direction: column;
  gap: 16px;
}

mat-card-header {
  gap: 0px !important;
  padding: 0;
}

.main-btn {
  align-self: flex-end;
}

app-popup-msg {
  position: absolute !important;
  transform: translateX(0%);
  bottom: 108px;
}

@import "../login.component-mobile.scss";
@import "forgot-passwort.component.mobile.scss";
