.conatiner-add-user {
    background-color: white;
    height: 294px;
    width: 514px;
    display: flex;
    flex-direction: column;

    input {
        border: 1px solid #797ef3;
        border-radius: 40px;
        width: 434px;
        height: 55px;
        font-family: Nunito;
        font-weight: 400;
        font-size: 16px; 
        margin-bottom: 20px;
        padding: 15px, 20px, 15px, 20px;
      
        &::placeholder {
            font-family: Nunito;
            font-weight: 400;
            font-size: 16px;
            padding-left: 20px;
        }
    } 

    span {
        font-size: 18px;
        gap: 30px;
        color: #797ef3;
    }

    h1 {
        font-size: 24px;
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

.distance {
    padding-left: 40px;
    padding-top: 40px;
    padding-bottom: 20px;
}

.position-close-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    padding-right: 40px;

    img{
        margin-top: -12px;
    }

    img:hover {
        background-image: url("./../../../assets/img/close_hover.png");
        cursor: pointer;
    }
}

.add-user-to-chat-btn {
    width: 147px;
    height: 49px;
    gap: 10px;
    padding-right: 40px;

    &:hover {
        cursor: pointer;
    }
}

.position-btn {
    display: flex;
    justify-content: end;
}

.position-input {
    display: flex;
    justify-content: center;
}

@media (max-width: 650px){
    .distance{
    padding: 30px 16px;
    }

    .position-close-title{
        padding-right: 0;

    }

    span{
        display: none;
    }

   .add-user-to-chat-btn{
    padding-right: 25px;
   }

   .conatiner-add-user{
    width: 275px;
    height: 280px;
    
    input{
        width: 250px;
    }
   }
}