<div #focus class="conatiner-add-user mat-mdc-dialog-container">
    <div class="distance">
        <div class="position-close-title">
            <h1>Leute hinzufügen</h1>
            <img (click)="closeAddUser()" src="assets/img/close.png">
        </div>
        <span># Entwicklerteam</span>
    </div>
    <div class="position-input">
        <input #inputField placeholder="Name eingeben" (input)="firstOpen()" [(ngModel)]="userToSearch">
    </div>
    <div class="position-btn">
        <img class="add-user-to-chat-btn" src="assets/img/add_user-to-chat-btn.png">
    </div>
    <div #userlist class="user-list">

    </div>
</div>