@import "../../../styles.scss";
@import "../../app.component.scss";

.popup {

  @include dFlex($jc: center, $ai: center);
  background-color: $purple1;
  color: white;
  box-shadow: 0px 6px 10px 0px #00000033;

  padding: 20px 30px 20px 30px;
  border-radius: 30px 30px 0px 30px;
  gap: 10px;
  font-family: Nunito;
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  width: 200px;
}

@media (max-width: 650px) {
  .popup{
    font-size: 16px;
    line-height: unset;

  }
}
