<div id="threat" class="threat-container d-none">
    <!--it´s the window for chat messages-->
    <div class="thread-chat-content">
        <!--Navbar  -->
        <div class="chat-navbar">
            <div class="position-title-thema">
                <h2>Thread</h2>
                <span># {{chatService.channelName}}</span>
            </div>
            <img (click)="closeThread()" src="assets/img/close.png">
        </div>
        <!--chat-->
        <div>
            <div>
                <div class="container-question-message">
                    <div style="display: flex;">
                        <img src="assets/img/avatar3.png">
                        <div style="margin-left: 30px;">
                            <div class="position-name-time">
                                <h3>{{chatService.threadChatloginName}}</h3><span>{{chatService.threadChatTime | date:
                                    'HH:mm'}}Uhr</span>
                            </div>
                            <span class="question-channel">{{chatService.threadChatText}}</span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="how-many-answers"><span>2 Antworten</span>
                <div></div>
            </div>
            <div class="container-question-message" *ngFor="let chat of chatService.getAnswer()">
                <div style="display: flex;">
                    <img src="assets/img/avatar3.png">
                    <div style="margin-left: 30px;">
                        <div class="position-name-time">
                            <h3>{{chat.loginName}}</h3><span>{{chat.threadTime | date:
                                'HH:mm'}}Uhr</span>&nbsp;<span>{{chat.chatDate | date: 'dd/MM/yyyy'}}</span>
                        </div>
                        <span class="question-channel">{{chat.threadAreaInput}}</span>
                    </div>
                </div>
                <div class="hidden-content-message">emojis</div>
            </div>
        </div>
    </div>

    <!--it´s the window for texting your message -->
    <div (click)="dontclose($event)" class="chat-tastatur">
        <app-thread-message-field></app-thread-message-field>
    </div>
</div>