<div id="threat" class="threat-container d-none">
  <!--it´s the window for chat messages-->
  <div class="thread-chat-content">
    <!--Navbar  -->
    <div class="chat-navbar">
      <div class="position-title-thema">
        <h2>Thread</h2>
        <span># {{ channelService.channelName }}</span>
      </div>
      <img (click)="closeThread()" src="assets/img/close.png" />
    </div>
    <!--chat-->
    <section class="thread">
      <div class="container-question-message">
        <div style="display: flex">
          <img class="profileImg" src="{{ this.threadService.threadUserImg }}" />
          <div class="chat" style="margin-left: 30px">
            <div class="position-name-time">
              <h3>
                {{ threadService.threadChatloginName }}
              </h3>
              <span>{{ threadService.threadChatTime | date : "HH:mm" }}Uhr</span>
            </div>
            <div class="questions-container question-channel">
              <span class="question-channel">{{
                threadService.threadChatText
              }}</span>
              <div class="threadImage">
                <img
                  *ngIf="threadService.threadChatImage.length > 8"
                  [src]="threadService.threadChatImage"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="how-many-answers">
        <span>{{ threadService.threadList.length }} Antworten</span>
        <div></div>
      </div>
      <div (click)="mirrorThreadCurrentUser()" class="answers-container">
        <div
          class="container-question-message"
          *ngFor="let chat of threadService.getAnswer()"
        >
          <div class="reaction-area" (click)="onEvent($event)">
            <mat-icon (click)="toggleEmojiPicker(chat)" class="reaction-icons"
              >add_reaction</mat-icon
            >
            <mat-icon>more_vert</mat-icon>
          </div>
          <div style="display: flex">
            <img class="profileImg" [src]="chat.profileImg" />
            <div class="chat" style="margin-left: 30px">
              <div class="position-name-time">
                <h3
                  class="log-in-name"
                  (click)="
                    showProfil(chat.loginName, chat.mail, chat.profileImg, chat)
                  "
                >
                  {{ chat.loginName }}
                </h3>
                <span class="time-thread"
                  >{{ chat.Time | date : "HH:mm" }}Uhr</span
                >&nbsp;
              </div>
              <emoji-mart
                (click)="onEvent($event)"
                (click)="closeEmojiFieldReaction()"
                class="emoji-mart"
                *ngIf="chat.showEmojiPicker"
                (emojiSelect)="addEmoji($event, chat.elementID)"
                title="Choose your emoji"
              >
              </emoji-mart>
              <div class="answer-container">
                <span class="question-channel"
                  ><div class="text-thread">{{ chat.threadAreaInput }}</div></span
                >
                <div class="threadImage">
                  <img
                    *ngIf="chat.threadImage.length > 8"
                    [src]="chat.threadImage"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="hidden-content-message">
            <ng-container *ngFor="let emoji of chat.emoji; let i = index">
              <div
                class="emojis"
                (click)="dontclose($event)"
                (click)="emojiAmountUp(emoji, chat.elementID, i)"
              >
                <div>{{ emoji["type"] }}</div>
                <div>{{ emoji["amount"] }}</div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </section>
    

    <!--it´s the window for texting your message -->
    <div (click)="dontclose($event)" class="chat-tastatur">
      <app-thread-message-field></app-thread-message-field>
    </div>
  </div>
</div>
