.threat-container {
  width: 485px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.thread-chat-content {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: white;
  width: 100%;
  height: 778px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chat-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 40px 32px 40px;
  height: 32px;
  box-shadow: 0px 4px 4px rgba(158, 157, 157, 0.1);

  h2 {
    font-size: 24px;
    margin: 0px;
  }

  span {
    font-size: 14px;
    color: #797ef3;
    padding-left: 20px;
  }
}

.answers-container {
  position: relative;
  height: 122px;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 0;
  }
}

.position-title-thema {
  display: flex;
  align-items: center;

  span {
    font-size: 14px;
  }
}

//flipped thread
.flipped {   
  transform: scaleX(-1);
}

.d-none {
  display: none;
}

.chat-tastatur {
  background-color: white;
  height: 300px;
  width: 100%;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.container-question-message {
  min-height: 141px;
  width: 100%;
  //   border-top: solid 1px #adb0d9;
  display: flex;
  justify-content: space-between;

  &:hover {
    background-color: #eceefe;

    > .reaction-area {
      display: flex;
    }

    > .message-div {
      margin-right: -134.2px;
    }
  }

  span {
    color: #686868;
  }
}

.profileImg {
  height: 70px;
  width: 70px;
  margin-top: 40px;
  margin-left: 40px;
  border-radius: 360px;
  align-self: center;
}

.question-channel {
  background-color: #eceefe;
  padding: 15px;
  border-radius: 0px 30px 30px 30px;
}

.how-many-answers {
  display: flex;
  align-items: center;
  margin-left: 30px;
  margin-right: 30px;

  span {
    color: #adb0d9;
    font-size: 18px;
  }

  div {
    border-top: 1px solid #adb0d9;
    width: 296px;
    margin-left: 20px;
  }
}

.position-name-time {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 16px;
  gap: 20px;

  h3 {
    font-family: Nunito;
    font-size: 18px;
    font-weight: 700;
    line-height: 24.55px;
    text-align: left;
    margin: 0;
  }
}

.chat {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.chat-tastatur {
  position: relative;
  background-color: white;

  width: 100%;
  height: 213px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  app-message-field {
    position: absolute;
    bottom: 0px;
    left: 20px;
    right: 20px;
    width: 100%;
  }

}

  app-thread-message-field {
    display: flex;
    width: 95%;
  }

.emojis {
  display: flex;
}

.reaction-area {
  display: none;
  position: absolute;
  margin-right: 14px;
  margin-top: 14px;
  border-radius: 25px 25px 0 25px;
  border: 1px solid rgba(173, 176, 217, 1);
  gap: 5px;
  padding: 3px 15px 3px 20px;
  height: 37px;
  width: 91px;
  background: white;
  right: 0;

  .reaction-icons {
    height: 24px;
    width: 24px;
    padding: 8px;
    border-radius: 30px;

    &:hover {
      cursor: pointer;
      background: #eceefe;
    }
  }

  .hidden-content-message {
    display: none;
    margin-right: 30px;
    border: solid 1px color #adb0d9;
    background-color: white;
    height: 46px;
  }

  .container-question-message:hover .hidden-content-message {
    display: block;
  }
}
.questions-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.answer-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 122px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.chatImage {
  max-width: 620px !important;
  img {
    border-radius: 0 !important;
    max-width: 240px !important;
    max-height: 200px !important;
  }
}

@media (max-width: 1500px) {
  .threat-container {
    width: 370px;
  }
}
@media (max-width: 1300px) {
  .threat-container {
    width: unset;
  }

  .chat-tastatur {
    border-radius: 0;
  }
  .thread-chat-content {
    border-radius: 0;
  }

  .chat-navbar {
    padding: 32px 10px;
  }

  .position-title-thema {
    h2 {
      font-size: 20px;
    }
  }
}
