<div class="container-profil-view nunito">
  <div class="position-title-close-profil-view">
    <h1>Dein Profil bearbeiten</h1>
    <img (click)="closeProfilView()" src="assets/img/close.png" />
  </div>

  <div class="p">
    <img
      (click)="fileInput.click()"
      [src]="
        storageService.editProfileImgUrl ||
        authentication.auth.currentUser?.photoURL
      "
      alt="avatar"
    />
  </div>
  <form id="form" #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
    <div class="m16">
      <div class="edit-fields">
        <mat-icon fontIcon="account_circle"></mat-icon>
        <h2 class="nunito">Vollständiger Name</h2>
      </div>
      <div class="div-input">
        <input
          class="nunito"
          type="text"
          placeholder="{{ authentication.auth.currentUser?.displayName }}"
          id="name"
          name="name"
          [(ngModel)]="username"
          required
          minlength="2"
          #name
        />
      </div>
      <div
        *ngIf="
          myForm.form.controls['name']?.invalid &&
          myForm.form.controls['name']?.touched
        "
        class="validation-container"
      >
        <div>Bitte geben Sie ein Namen ein.</div>
      </div>
    </div>

    <div>
      <div class="edit-fields">
        <mat-icon fontIcon="mail_outline"></mat-icon>
        <h2 class="nunito">E-Mail-Adresse</h2>
      </div>
      <div class="div-input">
        <input
          class="nunito"
          type="mail"
          placeholder="{{ authentication.auth.currentUser?.email }}"
          id="email"
          name="email"
          [(ngModel)]="inputMail"
          email
          required
          minlength="5"
          [pattern]="authentication.emailRegex"
          #email
        />
      </div>
      <div class="validation-container">
        <div
          *ngIf="
            myForm.controls['email']?.invalid &&
            myForm.form.controls['email']?.touched
          "
        >
          Ungültige E-Mail-Adresse.
        </div>
      </div>
    </div>
    <input
      type="file"
      (change)="storageService.selectFile($event, 'edit')"
      accept="image/*"
      style="display: none"
      #fileInput
    />
    <div class="buttons-container">
      <ng-container *ngIf="myForm.valid && !this.submitting; else elseTemplate">
        <button class="main-btn purple1-btn" type="submit" >Speichern</button>
      </ng-container>

      <ng-template #elseTemplate>
        <button disabled class="main-btn disabled-btn">Speichern</button>
      </ng-template>
      <button
        type="reset"
        (click)="closeProfilView()"
        class="main-btn white-btn"
      >
        Abbrechen
      </button>
    </div>
  </form>
</div>
<!-- <app-popup-msg [@openClose]="isOpen ? 'open' : 'closed'"></app-popup-msg> -->
